%%-*- mode: erlang -*-


{erl_opts, [debug_info,
            {platform_define, "^(2[3-9])", 'USE_CRYPTO_MAC'}]}.

%% oauth is an optional dependency - ignore xref warnings for it
{xref_ignores, [{oauth, header_params_encode, 1}, {oauth, sign, 6}]}.

%% Only check for undefined function calls (not unused exports, which are expected for a library)
{xref_checks, [undefined_function_calls, undefined_functions, deprecated_function_calls]}.

{deps, [
    {jsx, "3.1.0"},
    {hackney, {git, "https://github.com/benoitc/hackney.git", {branch, "feature/process-per-connection"}}}
]}.


{profiles, [{docs, [{deps, [{edown,"0.9.1"}]},
                    {edoc_opts, [{doclet, edown_doclet},
                                 {packages, false},
                                 {subpackages, true},
                                 {top_level_readme,
                                  {"./README.md", "http://github.com/benoitc/couchbeam"}}
                                ]}]},
            {test, [
                    {cover_enabled, true},
                    {eunit_opts, [verbose]},
                    {deps, [{oauth, "2.1.0"}]}
                   ]}
           ]}.
