%%-*- mode: erlang -*-

{edoc_opts, [
    {application, ["couchbeam"]}
    ]}.

{deps, [
    {mochiweb, ".*", {git,"git://github.com/mochi/mochiweb.git", 
                        "HEAD"}},
    
    %% ejson for JSON and header parsing
    {ejson, ".*", {git,"git://github.com/benoitc/ejson.git",
                  "master"}},

    %% erlang-oauth for oauth authentification
    {oauth, ".*", {git,"git://github.com/refuge/erlang-oauth.git",
                   "master"}},
    
    %% ibrowse for doing HTTP requests
    {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git",
                     {branch, "master"}}}
]}.
