%%-*- mode: erlang -*-

{edoc_opts, [
    {application, ["couchbeam"]}
    ]}.

{deps, [
    {mochiweb, ".*", {git,"https://github.com/mochi/mochiweb.git",
                      "v2.7.0"}},

    %% ejson for JSON and header parsing
    {jiffy, ".*", {git,"https://github.com/davisp/jiffy.git",
                   "0.8.5"}},

    %% erlang-oauth for oauth authentification
    {oauth, ".*", {git,"https://github.com/refuge/erlang-oauth.git",
                   "master"}},

    %% ibrowse for doing HTTP requests
    {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git",
                     "v4.0.2"}}
]}.
