%%-*- mode: erlang -*-

{lib_dirs, ["deps"]}.


{erl_opts,
 [{i, "include"},
  {i, "deps"},
  {src_dirs, ["src"]},
  debug_info
 ]
}.

{deps, [
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git",
                        {tag,"v2.0.4"}}},

    %% erlang-oauth for oauth authentification
    {oauth, ".*", {git,"git://github.com/refuge/erlang-oauth.git",
                   "master"}},

    %% hackney for doing HTTP requests
    {hackney, ".*", {git, "git://github.com/benoitc/hackney.git",
                     {tag, "0.13.0"}}},

    {edown, ".*",
         {git, "git://github.com/esl/edown.git", "HEAD"}}
]}.

{edoc_opts, [{application, ["couchbeam"]},
             {doclet, edown_doclet},
             {subpackages, false},
             {top_level_readme,
              {"./README.md", "http://github.com/benoitc/couchbeam"}}]}.
