/* 18px base font size / 25px baseline */
body {
	font-size: 100%;   /* 18px (probably) */
	line-height:1.5;

	font-family: sans-serif;
	color:#223;
	background-color: #fff;
}

#container {
	max-width:40em;
	margin:0 auto;
}

h1, h2, h3 {
	font-family:georgia, 'bitstream vera sans serif', 'lucida grande',
		helvetica, verdana, sans-serif;
	font-weight:normal;
	letter-spacing:-0.05em;
	color:#000;
}
i, em {
	font-style:italic;
}
b, strong {
	font-weight:bold;
	color:#000;
}
blockquote {
	color:#555;
}
blockquote em {
	color:#333;
	font-style:italic;
}
blockquote strong {
	color:#333;
	font-weight: normal;
}
dt {
	font-weight:bold;
	color:#000;
}
tt, pre, code, samp, kbd {
	font-family: consolas, 'lucida console', 'bitstream vera sans mono',
		'courier new', monospace;
	color: #000;
}
pre {
	color:#333;
	background-color:#f9f9f9;
}
code {
	color:#007A00;
}
pre code {
	color:#333;
}
a, a:link {
	color:#023;
	background:#eef;
}
a:visited {
	color:#345;
	background:#fff;
}
a:hover {
	background:#fff6a9;
	color:#000;
	text-decoration:none;
}


/* TYPOGRAPHY */

p, ul, ol, dl, pre, blockquote, table, form {
	margin:1em 0;
}
dl {
	margin-left:2em;
}
hr {
	color:#eee;
	background-color:#ccc;
	border:0;
	height:1px;
	margin:1.5em 0;
}
blockquote {
	font-size:0.83333em;  /* 15px */
	line-height:1.66666;   /* 25px */
	margin:1.2em 3em;
	padding:0;
}
tt, pre, code, samp, kbd {
	font-size: 16px;
	line-height:1.1;
}
pre {
	margin:1.5em 0;
	padding:6px 4px 4px 6px;
	border:1px solid #eee;
	border-left-width:20px;
	overflow:auto;
}
h1 {
	font-size:2.3333em;      /* 42px */
	line-height:1.1904;      /* 50px */
	margin:0.5952em 0;       /* 25px */
}
h2 {
	font-size:1.66666667em;  /* 30px */
	line-height:1.2;         /* 36px */
	margin:1em 0;
}
h3 {
	font-size:1.22222222em;  /* 22px */
	line-height:1.13636363;  /* 25px */
	margin:1em 0;
}
h4 {
	font-size:1em;
	font-weight:bold;
	line-height:1.5;
	margin:1em 0;
}

.content header {
	margin:1em 20px;
	text-align:center;
}
.content header h1 {
    font-family: georgia;
    font-size: 2.6em;
    color: #111;
    line-height: 100%;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-style: italic;
}
.content header time {
	display: block;
}
.content header time,
.content header p {
	font-variant:small-caps;
	text-transform:capitalize;
	text-align: center;
}

.content footer {
	display: block;
	border-top:1px solid #DDDDDD;
	margin-top:1em;
	background-color: #e5f1f4;
}

p.next {
	text-align: center;
	clear: both;
	width: 100%;	
}

p.next a {
	text-decoration: none;
	border: 1px solid #AAAADD;
	color: #336699;
	margin: 0.2em;
	padding: 0.1em 0.3em;
}


/* Main Header 
--------------------------------------------------------------------------- */
header#mainhead {
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
	clear: both;
}

header#mainhead ul {
	display: block;
	list-style: none;
	float: right;
	width: 400px;
	height: 20px;
	position: relative;	
}
header#mainhead ul li {
	float: left;
}

header#mainhead ul li a {
	padding: 0.2em;
	color: #fff;
	text-decoration: none;
}


header#mainhead ul li.author a {
	background-color: #761106;
	color: #fff;
}

header#mainhead ul li.blog a {
	background-color: #657606;
	color: #fff;

}

header#mainhead h1 {
	display: block;
	float: right;
	text-align: right;
	margin: 5px 0;
	padding: 15px 0;
	height: 100px;
	z-index: 90;
	width: 300px;
}


header#mainhead h1 a, 
header.pag h1 a:link, 
header#mainhead h1 a:visited, 
header#mainhead h1 a:hover {
	color: #000;
	text-decoration:none;
	background:transparent;
}



/* COMMENTS */

ol.comments {
	padding-left:25px;
}
ol.comments > li {
	margin-bottom:3em;
}
ol.comments h3 {
	color:#555;
}
ol.comments h3 .commentor {
	font-family: 'lucida sans unicode', 'lucida grande',
		helvetica, 'bitstream vera sans', sans-serif;
}
ol.comments .comment-meta {
	font-size:0.8888em;    /* 16px */
	line-height:1.125;
	text-align: right;
	color: #555;
}
ol.comments .author {
	color:#000;
	background:#fff;
}
#comments form.leave {
	margin-left: 40px;
}
#comments form.leave textarea {
	width: 100%;
}

/* ADMIN STUFF */

#edit {
    height: 100%;
    overflow:hidden;
}
#edit #fedit {
    display: block;
    position: relative;
     width: 50%;
    float: left;
    height: 100%;

}

#edit #mdpreview {
    display: block;
    position: relative;
    width: 48%;
    float: right;
    height: 100%;
    margin:0;
   padding: 0; 
    overflow: auto;    
}

#fedit ol {
	list-style: none;
}
#fedit ol,
#fedit ol li {
	margin: 0;
	padding: 0;
}

#fedit label {
    display: block;
    width: 14em; 
    height: 11px;
    float: left;
    padding: 0 1em 3px 0;
	font-size: 12px; 
}
#fedit input[type='text'], 
#fedit input[type='password'],
#fedit select {
    width: 174px;
    border: 1px solid;
    margin: 0;
	font-size: 12px;
}

#fedit textarea {
    width: 99%;
    height: 100%;
    border: 1px solid;
    height: 280px;
}


/* FOOTER */

#main-footer {
    display: block;
	clear:both;
	color:#555;
	font-size:0.88888888em;
	line-height:1.5625;
	border-top:1px solid #ddd;
	padding:19px 0 0 0;
	margin:40px 0 20px 0;
	text-align:center;
}
#main-footer p {
	margin:0;
}


/* MISC HELPER STYLES */

p small, p.note, .intro {
	font-size:0.8333333em; /* 15px */
	line-height:1.85;
	color:#555;
	margin:1.45em 0;
}
ul.clean, ol.clean {
	list-style-type: none;
	padding-left: 0;
}
.caps {
	font-variant:small-caps;
}
.clear {
	clear:both;
}
.left{
	float:left;
}
.right{
	float:right;
}
.intro {
	border:1px solid #ccc;
	padding:0.5em;
	font-style:italic;
}


/* friendpaste snippets */

.friendpaste,
.friendpaste *,
.friendpaste * * {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.friendpaste table,
.friendpaste pre,
.friendpaste table pre,
.friendpaste pre table{
	margin: 0;
	padding: 0;
	line-height: 16px;
}
.friendpaste pre {
	overflow: none;
}
.friendpaste table.sourceTable {
	display: inline;
}

.friendpaste td {
	font-size: 16px;
}
/* INDEX */

body#home #header p {
	font-size:0.846em;             /* 15px */
	line-height:1.81818;
}

.index article.entry {
	display: block;
	margin:3em 0;
}
.index header.meta p {
	font-size:0.846em;             /* 15px */
	line-height:1.8; /* 25px */
	color:#555;
	margin:0;
	text-align:right;
}
.index h3 {
	font-weight:bold;
	font-family:'lucida sans unicode', 'lucida grande',
		helvetica, 'bitstream vera sans', sans-serif;
	display:inline;
}
.index h3 + p{
	display:inline;
	margin-left:5px;
}
.index img.icon {
	margin-left:-30px;
	margin-right:10px;
}


/* PRINT */

@media print {
	html, body, #container {
		margin:0;
	}
	#container {
		width:100%;
		max-width:100%;
	}
	#header {
		margin-top:0;
	}
	#footer {
		display:none;
	}
	a, a:link, a:visited {
		color:#000;
		background:#fff;
		text-decoration:none;
	}
	@page {
		size:8.5in 11in;
	}
}


/* ABOUT */

.about img.me {
	float:left;
	border:1px solid #333;
	margin:5px 25px 25px 0;
}
header.about {
	margin:2em 20px;
	text-align:center;
}
header.about h1 {
	margin:0;
}
header h1.about:first-child {
	margin-top:1.5em;
}
header.about h1 a,
header.about h1 a:link,
header.about h1 a:visited,
header.about h1 a:hover {
	background:transparent none repeat scroll 0 0;
	color:#000000;
	text-decoration:none;
}
header.about p {
	color:#777777;
	font-variant:small-caps;
	margin:0;
	text-transform:capitalize;
}


/* IE */

* html body{width:40em}
* html div.index{width:34.5em}

/* vim: set ft=css ts=4 sw=4 noexpandtab: */

