name: Test

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  linux:
    name: Linux OTP ${{ matrix.otp }}
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        otp: ['27.3', '28.0']
        rebar3: ['3.25.0']

    steps:
    - uses: actions/checkout@v4

    - name: Setup Erlang/OTP
      uses: erlef/setup-beam@v1
      with:
        otp-version: ${{ matrix.otp }}
        rebar3-version: ${{ matrix.rebar3 }}

    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: |
          _build
          ~/.cache/rebar3
        key: linux-otp-${{ matrix.otp }}-${{ hashFiles('rebar.lock') }}
        restore-keys: |
          linux-otp-${{ matrix.otp }}-

    - name: Compile
      run: rebar3 compile

    - name: Run xref
      run: rebar3 xref

    - name: Run tests
      run: rebar3 as test eunit

    - name: Run dialyzer
      run: rebar3 dialyzer

  macos:
    name: macOS OTP ${{ matrix.otp }}
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        otp: ['27.3', '28.0']
        rebar3: ['3.25.0']

    steps:
    - uses: actions/checkout@v4

    - name: Setup Erlang/OTP
      uses: erlef/setup-beam@v1
      with:
        otp-version: ${{ matrix.otp }}
        rebar3-version: ${{ matrix.rebar3 }}

    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: |
          _build
          ~/.cache/rebar3
        key: macos-otp-${{ matrix.otp }}-${{ hashFiles('rebar.lock') }}
        restore-keys: |
          macos-otp-${{ matrix.otp }}-

    - name: Compile
      run: rebar3 compile

    - name: Run xref
      run: rebar3 xref

    - name: Run tests
      run: rebar3 as test eunit

    - name: Run dialyzer
      run: rebar3 dialyzer

  freebsd:
    name: FreeBSD OTP ${{ matrix.otp }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        otp: ['27']

    steps:
    - uses: actions/checkout@v4

    - name: Test on FreeBSD
      uses: vmactions/freebsd-vm@v1
      with:
        usesh: true
        prepare: |
          pkg install -y erlang rebar3
        run: |
          rebar3 compile
          rebar3 xref
          rebar3 as test eunit
